:root {
  --background: #282c34;
  --background-light: #494f5b;
  --prim: #61dafb;
  --prim-light: #dd904f;
}

body {
  background-color: var(--background-light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 25px;
}

/* Header styles */
header {
  background-color: var(--background);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  color: white;
}

header h1 {
  font-size: 150%;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 0 25px;
  padding: 5px 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms;
}

li:not(.selected):hover {
  background-color: var(--background-light);
}

.selected {
  background-color: var(--prim);
  color: var(--background);
}

/* About section styles */
.about-container {
  font-size: 30px;
  background-color: white;
  color: var(--background);
  margin: 0 30px 30px 30px;
  padding: 20px;
  border-radius: 15px;
  max-width: 900px;
  z-index: 0;
  padding-top: 80px;
  transform: translateY(-80px);
}

.about {
  line-height: 1.25;
}

.profile-pic {
  width: 250px;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 1;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
}

/* portfolio styles */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.project {
  width: 500px;
  aspect-ratio: 2/1;
  background-color: var(--background);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.project h2 {
  color: white;
}

.project-details-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 5px 7px;
}

.project-details-container svg {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(200deg) brightness(114%) contrast(101%);
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.svg-container p {
  color: white;
  position: absolute;
  transform: translateY(-35px);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 4px;
  border-radius: 5px;
  opacity: 0;
  transition: 200ms;
}

.svg-container svg:hover + p {
  opacity: 1;
}

.zero, .one, .two, .three, .four, .five {
  background-size: cover;
  background-position: center;
}

.zero {
  background-image: url(../../assets/imgs/0.jpg);
}

.one {
  background-image: url(../../assets/imgs/1.png);
}

.two {
  background-image: url(../../assets/imgs/2.jpg);
}

.three {
  background-image: url(../../assets/imgs/3.jpg);
}

.four {
  background-image: url(../../assets/imgs/4.jpg);
}

.five {
  background-image: url(../../assets/imgs/5.jpg);
}

@media screen and (max-width: 570px) {
  .project {
    width: 300px;
  }
} 

/* Contact form styles */
.contact {
  width: 90%;
  max-width: 900px;
}

form div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

input, textarea, button {
  border-radius: 5px;
}

input {
  height: 30px;
}

button {
  font-size: 20px;
  padding: 5px 7px;
  margin-top: 5px;
  background-color: var(--background);
  color: white;
  border: none;
  transition: 200ms;
  cursor: pointer;
}

button:hover {
  background-color: var(--prim);
  color: var(--background);
}

/* footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--background);
}

svg {
  margin: 0 10px;
  cursor: pointer;
  transition: 150ms;
}

svg:hover {
  opacity: 0.5;
}

.force-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}